[submodule "engines/NeXAS/NeXAS_DX"]
	path = engines/NeXAS/NeXAS_DX
	url = https://github.com/Karaik/NeXAS_DX
[submodule "engines/NeXAS/NeXAS_SPM_VIEWER"]
	path = engines/NeXAS/NeXAS_SPM_VIEWER
	url = https://github.com/Karaik/NeXAS_SPM_VIEWER
[submodule "titles/mushiai_chineseization"]
	path = titles/mushiai_chineseization
	url = https://github.com/Karaik/mushiai_chineseization
[submodule "titles/真愛の百合は赤く染まる"]
	path = titles/真愛の百合は赤く染まる
	url = https://github.com/Karaik/manakashi_chineseization.git
